.bg-card {
    background-color: white;
    padding: 10px;
}

.alert-cat {
    /* @sldsValidatorIgnore */
    font-size: 10px;
    padding-top: 5px;
    padding-left: 2px;
}

.btn-st {
    border: none;
    background: white;
    color: blue;
}

.jst-end {
    justify-content: end;
}

.pt-20 {
    padding-top: 20px;
}

.error-mex {
    font-size: 20px;
    padding-right: 1px;
    display: flex;
    justify-content: end;
    color: rgb(255, 0, 0);
}

.add-st {
    font-size: 15px;
    padding-right: 1px;
    display: flex;
    justify-content: end;
}

.notice-st {
    padding-right: 1px;
    display: flex;
    /* @sldsValidatorIgnore */
    justify-content: end;
    /* @sldsValidatorIgnore */
    font-size: 10px;
    padding-top: 5px;
    padding-left: 2px;
}

.st-btn-2 {
    border: none;
    background: white;
    color: blue;
}

.p-10 {
    padding: 10px;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.card-flex {
    justify-content: space-between;
    display: flex;
}

.m-card-st {
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.img-pr {
    width: 14%;
    margin-left: 15px;
}

.img-pr-1 {
    padding-left: 3px;
    color: rgb(105, 105, 105);
    padding-top: 3px;
    font-family: inherit;
    /* @sldsValidatorIgnore */
    font-size: 12px;
}

.img-pr-2 {
    margin-top: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 13px;
}

.st-pr {
    width: 40%;
    padding-left: 15px;
}

.p-btn {
    padding-top: 24px;
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.jst-end {
    justify-content: end;
}

.d-flex {
    display: flex;
}

.pt-20 {
    padding-top: 20px;
}

.flx-rem {
    display: flex;
    justify-content: end;
}

.border-r-st {
    border-right: 1px solid rgb(221 219 218);
}

.file-st {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.err-msg-addr-st {
    padding-top: 8px;
    justify-content: center;
    margin: auto;
    display: flex;
}

.d-root {
    display: flow-root;
}